#Exercise 2: Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.
# Data Science Tools and Ecosystem

#Exercise 3: Write an introductory sentence about the notebook such as the follows: In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

#Exercise 4 - Create a markdown cell to list data science languages

1. Python
2. R
3. SQL

#Exercise 5 - Create a markdown cell to list data science libraries


1. matplotlib 
2. pandas
3. Tensorflow

#Exercise 6 - Create a markdown cell with a table of Data Science tools

|Data Science Tools|
|------------------|
|Github|
|Jupyter Noteboo|
|Hadoob|
|R studio|

#Exercise 7 - Create a markdown cell introducing arithmetic expression examples
### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
#Exercise 8 - Create a code cell to multiply and add numbers

#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
#Exercise 9 - Create a code cell to convert minutes to hours

#this will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

#Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
- Learn how to create ordered and unordered list in jupyter notebook
- Learn the different data science tools 
- Learn the different data science languages 
- Operate arthimetic operations using a code cell
- Differintiate between a code cell and a markdown cell

#Exercise 11 - Create a markdown cell to indicate the Author's name
## Author: 
Farah Hamdy